fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
python-jose[cryptography]
passlib
python-multipart
bcrypt==4.0.0
dotenv
psycopg2-binary
cloudinary
openai
httpx
pydantic_ai
slowapi
uuid6
pypdf
python-docx